body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

button {
  width: 200px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

button:hover {
  background-position: 100% 0;
}

button:focus {
  outline: none;
}
